<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <p>A request came from {{fullname}}</p>
        {{email}} <br>
        {{phone}} <br>
        {{movingfrom}} <br>
        {{floorpickup}} <br>
        {{movingto}} <br>
        {{floordropoff}} <br>
        {{movingtype}}<br>
        <p>to move by {{movingdate }}</p>
        <p>size of move: {{size}}</p>
        <p>time: {{movingtime}}</p>

    </div>
</body>

</html>