{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Logistica - Shipping Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
        <a href="{% url 'index' %}" class="navbar-brand  d-flex align-items-center  px-lg-5">
            <!-- <h2 class="mb-2 text-white">Logistica</h2> -->
            <img src="{% static './img/logo3.png' %}" width="200" />
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <!-- <a href="service.html" class="nav-item nav-link">Services</a> -->
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="price.html" class="dropdown-item">Pricing Plan</a>
                        <a href="feature.html" class="dropdown-item">Features</a>
                        <a href="quote.html" class="dropdown-item">Free Quote</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div> -->
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            </div>
            <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>08142223841
            </h4>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <!-- <div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Features</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Features</li>
                </ol>
            </nav>
        </div>
    </div> -->
    <!-- Page Header End -->


    <!-- Fact Start -->
    <div class="container-xxl">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                    <!-- <h6 class="text-secondary text-uppercase mb-3">Terms and Condition</h6> -->
                    <h1 class="mb-2">Terms of Service</h1>
                    <p class="mb-5">
                        The following are the terms and conditions that will govern the agreement between Ridera
                        Technologies Limited hereinafter called “the company or Ridera” and “The User” hereinafter the
                        called “client or customer”. <br>


                    <h4> GENERAL</h4>
                    Although the company endeavours to reasonably protect and secure all items fragile or otherwise,
                    the onus lies with the client to ensure that, loose and/or fragile pieces for example china,
                    sensitive electronics, etc. are properly packed, padded and labeled accordingly, prior to our
                    handling. (We highly recommend using our packing and pre-move services which include wrapping,
                    packing, etc., to avoid possible overtime charges and ensure optimum protection of items).

                    <br><br>

                    <h6> Client’s Responsibility:</h6>
                    <ul>
                        <li>To properly prepare for pending relocation (i.e. all small pieces etc., should be cleared
                            from
                            surfaces, properly packed in boxes or bins and fragile pieces properly padded labeled and
                            secured).</li>

                        <li> To pay all fees and charges as required.</li>
                        <li> To properly protect and secure valuables and important documents and personally carry these
                            items if possible (The Company is not responsible for valuables not properly secured by
                            client).</li>

                        <li>To reasonably protect items that can be easily soiled (if our services are not required to
                            do
                            so) as the company is not responsible for incidental soiling to items reasonably handled by
                            movers.</li>
                        <li>To inspect back of truck upon completion of job, and confirm that all pertinent items have
                            offloaded.</li>
                        <li>To inform office of any special items (pianos, safes etc) or any special requirements that
                            may
                            have an
                            impact on the handling of such items. </li>
                    </ul>

                    <br />
                    <h6>CLAIMS
                        Compensation</h6>

                    <p>The company undertakes to repair, replace or reimburse clients in the event of any damage(s) to
                        his/her property due to negligence (i.e. reasonable care and skill was not exercised in the
                        handling of customer’s possessions. Client is required to prove negligence) on the part of the
                        company’s representatives as follows:-</p>
                    <ul>
                        <li>The value of reimbursement is based on resale value of the item at the time of damage (age,
                            condition and type of item being taken into account). Value of the item will be depreciated
                            per
                            relevant depreciation principles or by mutual agreement.</li>

                        <li>If an item is part of a set, then only the individual item will be addressed. If the
                            individual item cannot be located locally, then the closest local substitute will be used.
                        </li>

                        <li>
                            Item may be taken off site and repaired: company reserves the right however to choose
                            repairer. If the
                            client refuses to allow the item to be taken for repair, then ay claim in relation to said
                            item
                            will be dismissed.</li>

                        <li>A mutually agreed discount on invoice. Furthermore, any discount previously negotiated will be
                        taken into account when determining compensation (if any).</li>
                        <li>Company may replace item if the item is irreparable. Compensation however, will be
                        commensurate with damage and cost of restitution.</li>

                        <li>Customer is required to pay all fees where applicable should a false claim be made and the
                        company incurs costs pursuant to investigation of such claim. This includes service personnel
                        visits, polygraph testing of employees, etc.</li>

                        <li>Any claims must be reported to the company within 48 hours.</li>

                    </ul><br />
                    <h4>LIMITATIONS TO LIABILITY</h4>

                    <p>In particular, the company accepts no liability in the following circumstances: -
                    Where an item being transported exhibits what can be reasonably deemed as a pre-existing fault
                    and/or defect.</p>

                    <ul>
                   <li>Free and easy passage is not available for furniture items, i.e. items have to be forced or
                    undergo excessive maneuvering to pass.</li>
                    <li>tem is such that normal routes to enter/leave building cannot be used but alternate abnormal
                    routes have to be used, e.g. balcony, window, etc.</li>
                    <li>Terrain is such a nature that free and unhindered passage is not possible (slippery, rocky,
                    steep, etc.)</li>
                    <li>Item is such a shape or size that it cannot pass entrance/exit but have to be disassembled or
                    have parts removed to enable it to pass.</li>
                    <li>Items inefficiently packed or prepared by client e.g. boxes containing fragile pieces not
                    properly padded, cushioned and labeled.</li>
                    <li>Items not packed by the company.</li>
                    <li>Items that were prepared for relocation by persons other than Ridera personnel (i.e. items
                    that have been disconnected, disassemble or dismounted from walls or otherwise altered in
                    preparation for relocation).</li>
                    <li>Items that have been altered from their original state</li>
                    <li>Stacking of furniture as requested by customer.</li>
                    <li>Furniture made of compressed wood, particle- board, Halogen lamps and any other items which by
                    their nature are required to travel disassembled.</li>
                    <li>Items such as filing cabinets, refrigerators, desks, etc. that are required to travel with
                    their contents intact as requested by customer, are not covered for damages to items or
                    contents.</li>
                    <li>If we are required to carry items which in and of themselves pose a threat to other items such
                    as washing machines, refrigerator, etc. (due to leakage of water and other substances).</li>
                    <li>If client insists on us wrapping, packing or stacking furniture or items in a way which we
                    consider to be inimical to the safety of that item and others and this fact is relayed to the
                    client.</li>
                    <li>Aquaria and other similarly constructed items, and potted plants, are not covered under this
                    warranty.</li>
                    <li>It is the client’s responsibility to ensure that complex electrical equipment is properly
                    prepared prior the move, by authorized service personnel. This includes disassembly, reassembly
                    and protection or, as circumstances may dictate, detailed briefing of our staff so that
                    necessary precautions can be employed.</li>
                    <li>Items under warranty by a third party.</li>
                </ul>

                    <h6>Payment:</h6>
                    Payment must be in Nigerian currency, cash, transfer, cheque, crypto currency (USDT). If
                    another currency is to be used, then prior authorization must be obtained from our office.
                    Exchange rate to be used will be determined by us.
                    <ul>

                    <li>The company reserves the right to request payment in advance of job completion.</li>
                    <li>Estimates are not absolutely binding and can be adjusted as circumstances dictate.
                    Additionally, costs given over the phone are approximate and may change when moving team arrives
                    or upon completion.</li>
                    <li>The company reserves the right to request a deposit for residential moves with the expectation
                    that estimated balance will be paid upon arrival at final destination, and before offloading.
                    Any additional amounts will be due upon completion of the job. In instances where payment is
                    made by cheque, there is a 5 day waiting period until cheque is cleared before the move can be
                    done.</li>

                    <li>There is a 10% administrative fee applicable for late cancellation on removal i.e.,
                    cancellation must be communicated to our offices within 36 hrs prior to move to a named member
                    of staff.</li>

                    <li>All returned cheques attract a charge, which includes admin charge, and bank charges.</li>
                    <li>All outstanding amounts must be paid by due date. Failure to do so will result in interest
                    charges being applied and the rate applicable is dependent on overdraft interest charges
                    prevailing at the time of default.</li>
                    <li>In event of a claim, all payments must be settled before claim can be dealt with.</li>
                    <li>Deviation from any of the foregoing requires expressed permission from a named member of
                    management.</li>

                   <li> Overtime and Miscellaneous Charges Unless otherwise stated, cost given for move is on a per trip basis
                    When there is case where the actual items to be moved is more than the item items listed.
                    Extra charges would be incurred based on weight, volume and value of the item. The extra cost
                    will determined by Ridera.</li>
                </ul>

                   <strong> Extraordinary Circumstances</strong>

                    <p>In the event of rain, acts of God or any other similar circumstances outside of the control of
                    the company, then the customer or client agrees to share in equal proportion any overtime
                    charges.
                    In the case of riots, public disturbance or any other circumstances what so ever outside of the
                    control of the company then the company is not responsible for any liability or any loss
                    suffered by the customer.</p>

                    <strong> Link to Other Resources</strong>

                   <p> Although the Website and Services may link to other resources (such as websites, mobile
                    applications, etc.), we are not, directly or indirectly, implying any approval, association,
                    sponsorship, endorsement, or affiliation with any linked resource, unless specifically stated
                    herein. We are not responsible for examining or evaluating, and we do not warrant the offerings
                    of, any businesses or individuals or the content of their resources. We do not assume any
                    responsibility or liability for the actions, products, services, and content of any other third
                    parties. You should carefully review the legal statements and other conditions of use of any
                    resource which you access through a link on the Website and Services. Your linking to any other
                    off-site resources is at your own risk.</p>

                    Acceptance of These Terms

                    You acknowledge that you have read this Agreement and agree to all its terms and conditions. By
                    accessing and using the Website and Services you agree to be bound by this Agreement. If you do
                    not agree to abide by the terms of this Agreement, you are not authorized to access or use the
                    Website and Services.

                    This document was last updated on April 4, 2022
                    </p>

                </div>
                <!-- <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-6">
                            <div class="bg-primary p-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
                                <i class="fa fa-users fa-2x text-white mb-3"></i>
                                <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                                <p class="text-white mb-0">Happy Clients</p>
                            </div>
                            <div class="bg-secondary p-4 wow fadeIn" data-wow-delay="0.5s">
                                <i class="fa fa-ship fa-2x text-white mb-3"></i>
                                <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                                <p class="text-white mb-0">Complete Shipments</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-success p-4 wow fadeIn" data-wow-delay="0.7s">
                                <i class="fa fa-star fa-2x text-white mb-3"></i>
                                <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                                <p class="text-white mb-0">Customer Reviews</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Fact End -->


    <!-- Feature Start -->
    <!-- <div class="container-fluid overflow-hidden py-5 px-lg-0">
        <div class="container feature py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3">Our Features</h6>
                    <h1 class="mb-5">We Are Trusted Logistics Company Since 1990</h1>
                    <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                        <i class="fa fa-globe text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>Worldwide Service</h5>
                            <p class="mb-0">Diam dolor ipsum sit amet eos erat ipsum lorem sed stet lorem sit clita duo
                                justo magna erat amet</p>
                        </div>
                    </div>
                    <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-shipping-fast text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>On Time Delivery</h5>
                            <p class="mb-0">Diam dolor ipsum sit amet eos erat ipsum lorem sed stet lorem sit clita duo
                                justo magna erat amet</p>
                        </div>
                    </div>
                    <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                        <i class="fa fa-headphones text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>24/7 Telephone Support</h5>
                            <p class="mb-0">Diam dolor ipsum sit amet eos erat ipsum lorem sed stet lorem sit clita duo
                                justo magna erat amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/feature.jpg"
                            style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Feature End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s"
    style="margin-top: 6rem;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>66 Enitan Street, Off Adetala, Aguda,
                    Surulere, Lagos State.</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>08142223841, 09051266107</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>rideralogistics@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://instagram.com/ridera_logistics"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=" https://m.facebook.com/rideralogistics/"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://mobile.twitter.com/RideraLogistics"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social"
                        href=" https://www.linkedin.com/mwlite/company/ridera-relocation-logistics"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Services</h4>
                <a class="btn btn-link" href="#g">Home Relocation</a>
                <a class="btn btn-link" href="#h">Office & Commercial Move</a>
                <a class="btn btn-link" href="#f">Haulage Services:</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                <a class="btn btn-link" href="{% url 'index' %}">Home</a>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="/">ridera</a>, All Right Reserved.
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>